<div>
  <div id="headline">
    <h2>Dispatch Orders</h2>
  </div>
  <div style="margin-left: 25px; margin-top: 60px">
    <div class="row">
      <table class="table" *ngIf="orders.length">
        <thead>
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Filling Station Id</th>
            <th scope="col">Filling station name</th>

            <th scope="col">Fuel type</th>
            <th scope="col">Capacity</th>
            <th scope="col">Dispatch</th>
            <th scope="col">Received Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of res">
            <td>{{ order.id }}</td>
            <td>{{ order.f_id }}</td>
            <td>{{ order.f_name }}</td>
            <td>{{ order.f_type }}</td>
            <td>{{ order.f_capacity }}</td>
            <td>{{ order.submit_date}}</td>
            <td>
              <button
                type="button"
                class="btn btn-success"
                (click)="myClickFunction(order.id)"
              >
                Dispatch
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
